/* Dialog container */
.dialog-container {
  border: none;
  border-radius: 8px;
  padding: 20px;
  background: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  max-width: 400px;
  width: 90%;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
}

/* button container */
.button-container {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}

/* Button design */
.button-design {
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* Button Yes */
.yes-button {
    background-color: #ff000d;
    color: white;
}